body{
    background-color: #D8D8D8;
    margin: 0;
    color: white;
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

nav{
    background-color: #bebebe;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgb(207, 207, 207);
    height: 50px;
}

    ul{
        display: flex;
        justify-content: space-between;
        list-style: none;
    }

    li{
        margin: 10px;
    }

a{
    color: white;
    text-decoration: none;
}

nav a:hover{
    text-decoration: overline;
}

.logo{
    background-image: url(logo_crombie.png);
    background-position: center;
    background-size: cover;
    width: 130px;
    height: 70px;
}

.boton-login{
    background-color: black;
    color: white;
    border-radius: 12px 10px;
    border: 2px solid white;
    padding: 10px 30px;
}

.boton-login:hover{
    background-color: white;
    color: black;
}


#home-page{
    display: flex;
    height: auto;
    width: 100%;
    background-size: cover;
    top: initial;
    left: 0;
    position: absolute;
    background-repeat: no-repeat;
    background: linear-gradient(
        0deg,
        rgb(0,0,0,0.5),
        rgb(0,0,0,0.5)
    )
    ,url(Crombie-15.png) center center;
    z-index: -1;
}

.card-container{ /*Contenedor de todas las tarjetas*/
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    max-height: 100vh;
    
}

.card{ /*Estilos generales de Tarjetas */
    display: flex;
    background-color: rgb(150, 150, 150);
    border-radius: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: auto;
    margin: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.card h3{
    margin: 5px;
}

.row-cards{/*Estilo para varias tarjetas en una fila*/
    display: flex;
    flex-direction: row-reverse;
}


.card-content{/*Contenido oculto de las tarjetas*/
    display: none;
}

.card:hover {/*Tarjeta desplegada al hacer "hover" sobre una*/
    width: 650px;
    height: 100px;
}

.card:hover .card-content{ /*Se muestra el contenido oculto de la tarjeta al hacer "hover"*/
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%;
}

.card-deco{ /*Tarjetas decorativas sin ninguna funcion*/
    height: 100px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

/*clases para definir colores de tarjetas*/
    .card-yellow{ 
        background-color: #ffb12a;
        width: 250px;
    }

    .card-green{
        background-color: rgb(24, 206, 33);
        width: 180px;
    }

    .card-pink{
        background-color: #ee326c;
        width: 80px;
    }

.pm{
    width: auto;
}

.dev{
    background-color: #25b2e2;
    width: 200px;
}

.manager{
    background-color: #80319b;
    width: 260px;
}

.boton-ingresar{
    height: 100%;
    width: 190px;
    border-left: 2px solid white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-ingresar:hover{
    background-color: white;
    color: black;
}
