body {
    background-color: #1b1b1b;
    color: white;
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

a {
    color: white;
    text-decoration: none;
}

header{
    width: 100%;
}

nav {
    background-color: #292929;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgb(207, 207, 207);
    height: 70px;
    width: 100%;
    /* padding: 1rem; */
    position: fixed;
    top: 0;
    z-index: 1000;
}

nav a:hover {
    text-decoration: overline;
}

    ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
    }

    li {
        margin: 10px;
    }

    .logo{
        background-image: url(logo.png);
        background-position: center;
        background-size: cover;
        width:70px;
        height: 110%;
        margin-left: 100px;
    }

    .crombie-logo{
        background-image: url(logo_crombie.png);
        background-position: center;
        background-size: cover;
        width: 130px;
        height: 70px;
    }
        
    .boton-login{
        background-color: #292929;
        color: white;
        border-radius: 12px 10px;
        padding: 10px 30px; 
        margin-right: 100px;
        
    }

            .boton-login:hover{
                background-color: white;
                color: black;
                cursor: pointer;
            }

.container{
    display: flex;
    flex-direction: column;
}

#home{
    display: flex;
    height: 90vh;
    margin-top: 4rem;
    box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.5);
    padding-right: 4rem ;
    max-width: 100%;
}

    .img-container {
        flex: 1 1 40%;
        background-position: center;
        background-size: cover;
        background-color: #1b1b1b;
        background-image: url(logo_atlas.png);
        width: auto;
        height: 550px;
        margin: 10px;
    }

    .hero {
        margin-left: 20px;
        flex: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: right;
        color: white;
        padding-bottom: 150px;
    }

        .hero h1 {
            font-size: 4em;
        }

        .hero p {
            font-size: 1.5em;
        }

        #card-container{ /*Contenedor de todas las tarjetas*/
            margin-top: 20px;
            flex: 1 1 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;
            max-height: 100vh;
            
        }
        
        .card{ /*Estilos generales de Tarjetas */
            display: flex;
            background-color: rgb(150, 150, 150);
            border-radius: 10px;
            text-align: center;
            align-items: center;
            justify-content: center;
            height: 100px;
            width: auto;
            margin: 5px;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
        }
        
        .card h3{
            margin: 5px;
        }
        
        .row-cards{/*Estilo para varias tarjetas en una fila*/
            display: flex;
            flex-direction: row;
        }
        
        
        .card-content{/*Contenido oculto de las tarjetas*/
            display: none;
        }
        
        .card:hover {/*Tarjeta desplegada al hacer "hover" sobre una*/
            width: 650px;
            height: 100px;
        }
        
        .card:hover .card-content{ /*Se muestra el contenido oculto de la tarjeta al hacer "hover"*/
            display: flex;
            align-items: center;
            text-align: center;
            height: 100%;
        }
        
        .card-deco{ /*Tarjetas decorativas sin ninguna funcion*/
            height: 100px;
            border-radius: 10px;
            margin: 5px;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
        }
        
        /*clases para definir colores de tarjetas*/
            .card-yellow{ 
                background-color: #ffb12a;
                width: 250px;
            }
        
            .card-green{
                background-color: rgb(24, 206, 33);
                width: 180px;
            }
        
            .card-pink{
                background-color: #ee326c;
                width: 80px;
            }
        
        .pm{
            width: auto;
        }
        
        .dev{
            background-color: #25b2e2;
            width: 200px;
        }
        
        .manager{
            background-color: #80319b;
            width: 260px;
        }
        
        .boton-ingresar{
            height: 100%;
            width: 190px;
            border-left: 2px solid white;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .boton-ingresar:hover{
            background-color: white;
            color: black;
        }
        
        footer{
            border-top: 2px solid #dbb36e;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        
            .logo-crombie{
                background-image: url(logo_crombie.png);
                background-position: center;
                background-size: cover;
                width: 130px;
                height: 70px;
            }